$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

.footer {
	.footer__content > :not(:last-child)::after {
    		content: "•" !important;
    		padding: 0 !important;
    		margin-left: 5px !important;
   		margin-right: -5px !important;
	}
	.footer__content {
    		display: unset !important;
	}
	
      		@media #{$media-size-tablet} {
          		content: "•" !important;
          		padding: 0 !important;
          		margin-left: 5px !important;
      		}
}
