$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

.footer {
	.footer__content > :last-child {
    		content: "•" !important;
		padding: 0px !important;
	}
	.footer__content {
    		display: unset !important;
	}
	& > *:not(:last-child)::after {
      		content: "•";
      		padding: 0 5px;
   	 }
}
