$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

.footer {
        .footer__content > :not(:last-child)::after {
    		content: "•" !important;
		margin-left: 8px !important;
	}
	.footer__content {
    		display: unset !important;
	}
	&>*:last-child {
		padding: 0 !important;
		@media #{$media-size-tablet} {
			padding: 0 !important;
		}
	}
}
